@font-face {
    font-family: 'Montsserat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montsserat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montsserat/Montserrat-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Montsserat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montsserat/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montsserat/Montserrat-Medium.woff2') format('woff2');
    font-display: swap;

}
@font-face {
    font-family: 'Montsserat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montsserat/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montsserat/Montserrat-SemiBold.woff2') format('woff2');
    font-display: swap;

}
@font-face {
    font-family: 'Montsserat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Montsserat/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montsserat/Montserrat-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

