$primary-text_color: #202020;
$secondary-text_color: #ffffff;

$bright-decor-color: #F9BB88;
$dark-decor-color: #F4F4F4;
$accent_color: #FF9646;

$offset_small: 30px;
$offset_big: 40px;

$main_font: 'Montsserat';

$title-font_size: 36px;
$subtitle-font_size: 18px;
$text-font_size: 14px;