@import "fonts";
@import "variables";
@import "general";

@import "blocks/intro/header";
@import "blocks/intro/intro";
@import "blocks/intro/calculate";


.intro {

    &__container {
    }

    &__header {
    }
}
.header {

    &__logo {
    }

    &__nav {
    }

    &__contactsWrapper {
    }
}
.logoCompany {

    &__icon {
    }

    &__img {
    }

    &__text {
    }
}
.nav {

    &__list {
    }

    &__items {
    }

    &__link {
    }
}
.contacts {

    &__tel {
    }

    &__btn {
    }
}
.btn {
}
