.calculate {
    width: 446px;
    height: 220px;
    background-color: $primary-text_color;
    padding: 40px 68px;
    position: absolute;
    bottom: 6px;
    left: 273px;

    &__text {
        font-size: 23px;
        color: #F4F4F4;
        font-family: $main_font;
        line-height: 32px;
        font-weight: 400;
    }

    &__btn {
        width: 191px;
        height: 50px;

        background-color: #F4F4F4;
        margin-top: 26px;

        font-size: $text-font_size;
        font-family: $main_font;
        color: $primary-text_color;
        font-weight: 500;
        transition: all .2s ease;

        &:hover {
            background-color: $accent_color;
        }

        &:focus {
            box-shadow: 0 0 0 2px $accent_color;
        }
    }
}
